<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>.</directory>
            <exclude>
                <directory>base</directory>
                <directory>myproject</directory>
            </exclude>
        </testsuite>
  </testsuites>  
    
</phpunit>
